<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285159240127-bmt1eoaj9iarai4t4r49f6iqgsevkbiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285159240127-bmt1eoaj9iarai4t4r49f6iqgsevkbiv</string>
	<key>API_KEY</key>
	<string>AIzaSyAxjjVVzbSm5YBUUwMFIc2-qzvtwRZSwjY</string>
	<key>GCM_SENDER_ID</key>
	<string>285159240127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.jisng.identifier.DaangnMarket</string>
	<key>PROJECT_ID</key>
	<string>phoneauthtest-83afa</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauthtest-83afa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285159240127:ios:bc592343c412ea0bbdb10a</string>
	<key>DATABASE_URL</key>
	<string>https://phoneauthtest-83afa.firebaseio.com</string>
</dict>
</plist>